/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    color: white;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

body {
    font-family: 'Jaldi', serif;
    background-color: #181818;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.header__user-avatar {
    max-height: 50px;
    max-width: 50px;
}

.header__user-info {
    align-items: center;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    gap: 10px;
}

.header__body {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header__navigation ul {
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    gap: 20px;
}

.header__navigation {
    padding: 10px 20px;
    background-color: #2b2b2b;
    border-radius: 15px;
}


.family-member {
    display: flex;
    align-items: start;
    border-radius: 15px;
    background-color: #3f3f3f;
    padding: 40px;
    gap: 30px;
}

.family-members-info h1 {
    font-weight: bold;
    font-size: 40px;
}

.family-members-info h2 {
    font-size: 30px;
    color: #7F7F7F;
    line-height: 40px;
}

.family-members__header, .family-gallery__header {
    margin: 10px 0;
    font-size: 32px;
    font-weight: bold;
}

.family-members__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.family-gallery {
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 120px;
}

.family-gallery__body {
    display: flex;
    max-height: 400px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    overflow-x: auto;
    gap: 50px;
    scroll-behavior: smooth;
    padding: 10px;
    overflow-y: hidden;
}

.family-gallery__picture {
    min-width: 300px;
    height: 100%;
    flex-shrink: 0;
}

.family-gallery__picture img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .header__body {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__navigation ul {
        gap: 10px;
        font-size: 1rem;
        flex-wrap: wrap;
    }

    .family-members-info h1 {
        font-size: 30px;
    }

    .family-members-info h2 {
        font-size: 20px;
    }


    .family-gallery {
        margin-left: 20px;
    }

    .family-gallery__body {
        gap: 20px;
    }
}
.hamburger {
    visibility: hidden;
    display: none;
}


@media (min-width: 768px) and (max-width: 1024px) {

    .header__body {
        padding: 60px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__navigation {
        height: 100px;
        visibility: hidden;
    }

    .hamburger {
        visibility: visible;
        height: 50px;
        width: 50px;
        display: flex;
    }

    .header__navigation ul {
        visibility: hidden;
        gap: 10px;
        font-size: 1rem;
        flex-wrap: wrap;
    }

    .family-members-info h1 {
        font-size: 36px;
    }

    .family-members-info h2 {
        font-size: 28px;
    }

    .family-gallery {
        margin-left: 80px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }

    .family-gallery__body {
        gap: 40px;
    }
}
